@import "src/styles/layout/config.scss";

.circle {
  transform: var(--transform) !important;
  @media screen and (min-width: $sm) {
    transform: var(--transform-sm, var(--transform)) !important;
  }
  @media screen and (min-width: $md) {
    transform: var(--transform-md, var(--transform-sm, var(--transform))) !important;
  }
  @media screen and (min-width: $lg) {
    transform: var(--transform-lg, var(--transform-md, var(--transform-sm, var(--transform)))) !important;
  }

  // .path {
  //   stroke-dasharray: 170;
  //   stroke-dashoffset: 20;
  // }
  .path{
    stroke-width: var(--stroke-width, 0.15px);
    stroke-dashoffset: 600;
    // stroke-dasharray: 0.4,0.5;
  }
  .spinner {
    animation: rotate var(--duration, 8s) linear infinite;
    width: var(--size);
    height: var(--size);
    position: relative;
  }
}

@keyframes rotate {
  0% {
      transform: rotate(0deg) translateZ(0);
  }
  100% {
      transform: rotate(360deg) translateZ(0);
  }
}