$atom-prefix: '_';

/*
 * Color
 *********************************************/
 $colors: (
	'primary-50': var(--color-primary-50),
	'primary-100': var(--color-primary-100),
	'primary-200': var(--color-primary-200),
	'primary-300': var(--color-primary-300),
	'primary-400': var(--color-primary-400),
	'primary-500': var(--color-primary-500),
	'primary-600': var(--color-primary-600),
	'primary-700': var(--color-primary-700),
	'primary-800': var(--color-primary-800),
	'primary-900': var(--color-primary-900),
	'primary-1000': var(--color-primary-1000),
	'primary-main': var(--color-primary-main),
	'primary-light': var(--color-primary-light),
	'primary-contrast': var(--color-primary-contrast),

	'secondary-50': var(--color-secondary-50),
	'secondary-100': var(--color-secondary-100),
	'secondary-200': var(--color-secondary-200),
	'secondary-300': var(--color-secondary-300),
	'secondary-400': var(--color-secondary-400),
	'secondary-500': var(--color-secondary-500),
	'secondary-600': var(--color-secondary-600),
	'secondary-700': var(--color-secondary-700),
	'secondary-800': var(--color-secondary-800),
	'secondary-900': var(--color-secondary-900),
	'secondary-1000': var(--color-secondary-1000),
	'secondary-main': var(--color-secondary-main),

	'base-100': var(--color-base-100),
	'base-200': var(--color-base-200),
	'base-300': var(--color-base-300),
	'base-400': var(--color-base-400),
	'base-500': var(--color-base-500),
	'base-600': var(--color-base-600),
	'base-700': var(--color-base-700),
	'base-800': var(--color-base-800),
	'base-900': var(--color-base-900),

	'positive-100': var(--color-positive-100),
	'positive-200': var(--color-positive-200),
	'positive-300': var(--color-positive-300),
	'positive-400': var(--color-positive-400),
	'positive-500': var(--color-positive-500),
	'positive-600': var(--color-positive-600),
	'positive-700': var(--color-positive-700),
	'positive-800': var(--color-positive-800),
	'positive-900': var(--color-positive-900),

	'negative-100': var(--color-negative-100),
	'negative-200': var(--color-negative-200),
	'negative-300': var(--color-negative-300),
	'negative-400': var(--color-negative-400),
	'negative-500': var(--color-negative-500),
	'negative-600': var(--color-negative-600),
	'negative-700': var(--color-negative-700),
	'negative-800': var(--color-negative-800),
	'negative-900': var(--color-negative-900),

	'grey-90': var(--color-grey-90),
	'grey-80': var(--color-grey-80),
	'grey-70': var(--color-grey-70),
	'grey-60': var(--color-grey-60),
	'grey-50': var(--color-grey-50),
	'grey-40': var(--color-grey-40),
	'grey-30': var(--color-grey-30),
	'grey-20': var(--color-grey-20),
	'grey-10': var(--color-grey-10),
	
	'success-main': var(--color-success-main),

	// 'info-100': var(--color-info-100),
	// 'info-200': var(--color-info-200),
	// 'info-300': var(--color-info-300),
	// 'info-400': var(--color-info-400),
	// 'info-500': var(--color-info-500),
	// 'info-600': var(--color-info-600),
	// 'info-700': var(--color-info-700),
	// 'info-800': var(--color-info-800),
	// 'info-900': var(--color-info-900),

	'warning-100': var(--color-warning-100),
	'warning-200': var(--color-warning-200),
	'warning-300': var(--color-warning-300),
	'warning-400': var(--color-warning-400),
	'warning-500': var(--color-warning-500),
	'warning-600': var(--color-warning-600),
	'warning-700': var(--color-warning-700),
	'warning-800': var(--color-warning-800),
	'warning-900': var(--color-warning-900),

    'white': var(--color-white),
    'black': var(--color-black),

    'text-default-1': var(--color-text-default-1),
    'text-default-2': var(--color-text-default-2),
    'text-default-3': var(--color-text-default-3),

    'text-inv-1': var(--color-text-inv-1),
    'text-inv-2': var(--color-text-inv-2),
    'background-1': var(--color-background-1),

	'text-primary-1': var(--color-text-primary-1),
	'text-primary-2': var(--color-text-primary-2),
	'text-primary-3': var(--color-text-primary-3),
	'text-secondary-1': var(--color-text-secondary-1),

	'shader': var(--color-shader),

	'tpr': transparent
);

$radiuses: (
	'0px': 0px,
	'1px': 1px,
	'2px': 2px,
	'3px': 3px,
	'4px': 4px,
	'8px': 8px,
	'12px': 12px,
	'16px': 16px,
	'24px': 24px,
	'32px': 32px,
	'48px': 48px,
	'64px': 64px,
	'50pct': 50%,
	'max': 9999px,
	'at': auto
);

$spacings: (
	'0px': 0px,
	'1px': 1px,
	'2px': 2px,
	'4px': 4px,
	'8px': 8px,
	'12px': 12px,
	'16px': 16px,
	'24px': 24px,
	'32px': 32px,
	'48px': 48px,
	'64px': 64px,
	'128px': 128px,
	'256px': 256px,
	'320px': 320px,
	'512px': 512px,
	'50pct': 50%,
	'100pct': 100%,
	'100vw': 100vw,
	'100vh': 100vh,
	'at': auto,
	'us': unset,
	'fc': fit-content,
	'mnc': min-content,
);

$font-families: (
	'primary': var(--font-family-primary),
	'secondary': var(--font-family-secondary, --font-family-primary)
);

$font-sizes: (
	'1200': 84px,
	'1100': 64px,
	'1000': 48px,
	'900': 40px,
	'800': 32px,
	'700': 24px,
	'600': 20px,
	'500': 18px,
	'400': 16px,
	'300': 14px,
	'200': 13px,
	'100': 12px,
	'50': 11px
);

$font-weights: (
	'100': 100,
	'200': 200,
	'300': 300,
	'400': 400,
	'500': 500,
	'600': 600,
	'700': 700,
	'800': 800,
);

$line-heights: (
	'100pct': 1,
	'115pct': 1.15,
	'130pct': 1.30,
	'150pct': 1.5,
	'165pct': 1.65,
);

$xs: 576px;
$sm: 768px;
$md: 960px;
$lg: 1280px;

$breakpoints: (
	'xs': $xs,
	'sm': $sm,
	'md': $md,
	'lg': $lg
);
